body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, "Ubuntu", "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Ubuntu", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
